// Colors 

$color-1: #282323;
$color-2: #292424;
$link-color: #5e74b8;
$border-color: #dddddd;
$white: #ffffff;
$color-3: #2a2524;
$color-4: #FFD666;
$color-5: #95817d;
$color-6: #e86238;
$color-7: #558ecb;
$color-8: #fa474f;
$color-9: #75cad3;
$color-10: #603670;
$color-11: #b2dcc0;
$color-12: #42ba94;
$color-13: #9dc7ab;
$color-14: #6ebac2;
$color-15: #734585;
$color-16: #4a4a4a;
$color-17: #faa14a;
$color-18: #33ac86;
$color-19: #0a387a;
$color-20: #f9c3cf;
$color-21: #f58257;
// Animations 

$anim-fast: .2s ease-in-out;
$anim-slow: .6s ease-in-out;