.bottom-two-columns {
    background-color: $color-12;
    .j-two-columns {
        margin-bottom: 0;
        .j-column {
            background-image: none;
            padding-right: 0;
            &:first-child {
                h2 {
                    max-width: 460px;
                    line-height: 1.12;
                    color: $white;
                }
                p {
                    max-width: 460px;
                    @include fsr(20);
                    letter-spacing: inherit;
                    line-height: 1.5;
                    font-weight: 500;
                    margin-bottom: 25px;
                    color: $white;
                }
            }
            &:last-child {
                p {
                    position: relative;
                    z-index: 1;
                    min-height: 198px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    line-height: 1.67;
                    font-weight: 500;
                    @include fsr(18);
                    background-color: $white;
                    color: $color-2;
                    letter-spacing: inherit;
                    overflow: hidden;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 16px;
                        bottom: 0;
                        @include fsr(250);
                        font-weight: 600;
                        color: #ebebeb;
                        line-height: 0.74;
                        z-index: -1;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:nth-child(1) {
                        &:before {
                            content: '1';
                        }    
                    }
                    &:nth-child(2) {
                        &:before {
                            content: '2';
                        }
                    }
                    &:nth-child(3) {
                        &:before {
                            content: '3';
                        }
                    }
                }
            }
        }
    }

}

// Mobile - Tablet 

@include media-breakpoint-down(sm) {
    .bottom-two-columns {
        .j-two-columns {
            flex-direction: column;
            margin-top: 0;
            &.layout__wrapper {
                padding: 50px 25px 75px;
            }
            .j-column {
                padding: 0;
                &:first-child {
                    h2 {
                        @include fsr(55);
                        line-height: 1.18;
                        margin-bottom: 20px;
                    }
                    p {
                        @include fsr(18);
                        line-height: 1.56;
                        letter-spacing: 0.44px;
                    }
                }
                &:last-child {
                    p {
                        padding: 30px 15px 30px 25px;
                        margin-bottom: 27px;
                        &::before {
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

// Tablet
@include media-breakpoint-up(md) {
    .bottom-two-columns {
        padding: 40px 0;
        .j-two-columns {
            margin-top: 0;
            &.layout__wrapper {
                padding: 0 25px;
            }
            .j-column {
                &:first-child {
                    h2 {
                        @include fsr(70);
                        margin-bottom: 20px;
                        margin-top: 45px;
                    }
                    p {
                        @include fsr(16);
                        line-height: 1.5;
                        letter-spacing: 0.44px;
                    }
                }
                &:last-child {
                    p {
                        padding: 42px 5% 42px 113px;
                    }
                }
            }
        }
    }
}

// Desktop
@include media-breakpoint-up(lg) {
    .bottom-two-columns {
        .j-two-columns {
            .j-column {
                &:last-child {
                    p {
                        padding: 51px 67px 51px 113px;
                    }
                }
            }
        }
    }
}

// Desktop
@include media-breakpoint-up(xl) {
    .bottom-two-columns {
        padding: 130px 0 142px;
        .j-two-columns {
            .j-column {
                &:first-child {
                    h2 {
                        @include fsr(85);
                        margin-bottom: 54px;
                    }
                    p {
                        @include fsr(20);
                    }
                }
                &:last-child {
                    p {
                        @include fsr(22);
                        line-height: 1.45;
                    }
                }
            }
        }
    }
}